.DS_Store
.ipynb_checkpoints

## These will probably not be added anyway since the assumption here is that we
## only add exactly the directories we need. It might help in the build process
## to drop the size of the context

# Private Parts

CourseContent/Private/*

# Built - if made locally

www/*
build/*
CourseContent/*

\+LectureMaterials/Animation/*.png
\+LectureMaterials/Mapping/*.png
\+LectureMaterials/Mapping/*.jpg
\+LectureMaterials/SphericalMeshing/SphericalTriangulations/*.png
\+LectureMaterials/SphericalMeshing/CartesianTriangulations/*.png
\+LectureMaterials/SphericalMeshing/Litho1pt0/*.png
\+LectureMaterials/Numpy+Scipy/*png
\+LectureMaterials/StokesSinkerModels/RefCase-sinker*

\+LectureMaterials/\+Data


*.mp4


#  Git

.git
.gitignore
